.a {
	font-family: "¬ו";
	font-size: 24px;
	font-weight: bolder;
	color: #FF0000;
	text-decoration: blink;
}
.b {
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	color: #00CC00;
}
